;
; BIND data file for local loopback interface
;
$TTL	604800
@	IN	SOA	{{item.dns_domain}}. root.{{item.dns_domain}}. (
			      2		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;
@	IN	NS	{{item.dns_domain}}.
@	IN	A	127.0.0.1
@	IN	AAAA	::1
root	IN	A	{{item.network.split('.')[0] + '.' + item.network.split('.')[1] + '.' + item.network.split('.')[2]}}.1

; exmple:
; idm		IN	A	192.168.122.40
