//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

{% for each in managed_domains %}

zone "{{each.dns_domain}}" {
	type master;
	file "/etc/bind/{{each.dns_domain}}.local";
};

zone "{{ each.network.split('.')[2] + '.' + each.network.split('.')[1] + '.' + each.network.split('.')[0] + '.in-addr.arpa' }}" {
	type master;
	file "/etc/bind/db.{{ each.network.split('.')[2] + '.' + each.network.split('.')[1] + '.' + each.network.split('.')[0] }}";
};

{% endfor %}
